<hr/>
<header class="display-4">User Details</header>
<hr/>
<div class="row">
<!--  put some header-->
  <div class="col-md-6">
    <form [formGroup]="formGroup">
      <div class="form-group" formGroupName="userDetails">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
        <small *ngIf="firstNameControl.errors" class="text-danger">{{firstNameControl.errors}}</small>
      </div>
      <div class="form-group" formGroupName="userDetails">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
        <small *ngIf="lastNameControl.errors" class="text-danger">{{lastNameControl.errors}}</small>
      </div>
      <div class="form-group" formGroupName="userDetails">
        <label for="username">Username</label>
        <input type="text"
               [class.is-invalid]="usernameControl.errors"
               class="form-control" id="username" formControlName="username">
        <small *ngIf="usernameControl.errors" class="text-danger">{{usernameControl.errors}}</small>
      </div>
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th>Verified Phones</th>
              <th>Primary</th>
              <th>
              <a class="btn btn-primary p-1 m-0 border-0" (click)="newPhone(null)">Add</a>
              </th>
            </tr>
          </thead>
          <tbody>
          <div formArrayName="phones">
            <div class="pt-3 form-group">
              <tr *ngFor="let phone of phonesControl; index as i">
              <input type="tel" pattern="\([0-9]{3}\)[0-9]{3}[-][0-9]{4}"
                     [class.is-invalid]="phone.errors"
                     class="form-control" id='phone${i}' formControlName='phoneNumber'>
                <small *ngIf="phone.errors" class="text-danger">{{phone.errors}}</small>
              </tr>
<!--              <div class="form-group">-->
<!--                <label for="phoneNumber">Phone Number</label>-->
<!--                <input type="text" class="form-control" id="addPhoneNumber" formControlName="">-->
<!--                <small *ngIf="firstNameControl.errors" class="text-danger">{{firstNameControl.errors}}</small>-->
<!--              </div>-->
            </div>
          </div>
          </tbody>
        </table>
      </div>
    </form>
    <hr/>
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-link" (click)="cancel()">Cancel</button>
<!--    <button class="btn btn-link float-right"  (click)='delete()'>Delete</button>-->
  </div>
</div>
