<hr/>
<header class="display-4">User Details</header>
<hr/>
<div class="row" mb-5>
  <div class="col-md-7">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
        <small *ngIf="firstNameControl.errors" class="text-danger">{{firstNameControl.errors}}</small>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
        <small *ngIf="lastNameControl.errors" class="text-danger">{{lastNameControl.errors}}</small>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               [class.is-invalid]="usernameControl.errors"
               class="form-control" id="username" formControlName="username">
        <small *ngIf="usernameControl.errors" class="text-danger">{{usernameControl.errors}}</small>
      </div>
        <table class="table form-group">
          <thead>
            <tr>
              <th>Phone Numbers</th>
              <th>Primary</th>
              <th>Verified</th>
<!--              <th>-->
<!--&lt;!&ndash;              <a class="btn btn-primary p-1 m-0 border-0" (click)="newPhone(null)">Add</a>&ndash;&gt;-->
<!--              </th>-->
            </tr>
          </thead>
          <tbody formArrayName="phones">
          <tr [formGroup]="formGroup" *ngFor="let phone of phonesControl.controls; let i = index"
              formGroupName="{{i}}">
            <td>
              <input type="tel" pattern="\([0-9]{3}\)[0-9]{3}[-][0-9]{4}" [class.is-invalid]="phone.errors"
                     class="form-control" id='phone${i}' formControlName="phoneNumber">
              <small *ngIf="phone.errors" class="text-danger">{{phone.errors}}</small>
            </td>
            <td>
              <div class="form-check">
                <!--                ask about the radio buttons - may need to check that I'm loading forms correctly-->
                <input type="radio" class="form-check-input" [value]="isPrimaryPhone(i)" name="primary"
                       [checked]="isPrimaryPhone(i) === true">
              </div>
            </td>
            <td *ngIf="checkVerified(verified) == true">
              <div class="form-check" >
                <input type="checkbox" class="form-check-input" id="verified${i}"
                       formControlName="verified" disabled="primaryPhoneCheckboxDisabled">
              </div>
            </td>
            <td *ngIf="checkVerified(verified) == false">
              <a class="btn btn-sm btn-link pt-0 mt-0 border-0" (click)="verifyPhone()">Verify</a>
            </td>
          </tr>
          <tr *ngIf="newPhoneRowVisible == false" colspan="3" class="text-center">
              <a class="btn btn-sm btn-primary pt-0 mt-2 ml-2 border-0 float-left" (click)="showPhoneForm()">+ Add New Phone</a>
          </tr>
          <tr [formGroup]="newPhoneFormGroup" *ngIf="newPhoneRowVisible">
            <td>
              <small for="phoneNumber">Enter Phone Number:</small>
              <input type="tel" pattern="\([0-9]{3}\)[0-9]{3}[-][0-9]{4}" formControlName="phoneNumber"
                     class="form-control mt-2" id='phoneNumber' placeholder="(123)456-789">
              <small [*ngIf]="newPhoneNumberControl.errors" class="text-danger">
                {{newPhoneNumberControl.errors}}</small>
            </td>
            <td>
              <small class="" for="primaryNumber">Set as Primary</small>
              <div class="form-check">
                <input type="checkbox" class="form-check-input mt-2 position-static float-left"
                       id="primaryNumber" [checked]="isNewUser() === true" [value]="newPhonePrimaryControl">
              </div>
            </td>
            <td >
                <a class="btn btn-sm btn-primary mt-4 border-0" (click)="addNewPhone()">Add</a>
            </td>
          </tr>
          </tbody>
        </table>
    </form>
    <hr/>
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-link" (click)="cancel()">Cancel</button>
<!--    <button class="btn btn-link float-right"  (click)='delete()'>Delete</button>-->
  </div>
</div>
