<hr/>
<header class="display-4">User Details</header>
<hr/>
<div class="row" mb-5>
  <div class="col-md-8">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
        <small *ngIf="firstNameControl.errors" class="text-danger">{{firstNameControl.errors}}</small>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
        <small *ngIf="lastNameControl.errors" class="text-danger">{{lastNameControl.errors}}</small>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               [class.is-invalid]="usernameControl.errors"
               class="form-control" id="username" formControlName="username">
        <small *ngIf="usernameControl.errors" class="text-danger">{{usernameControl.errors}}</small>
      </div>
        <table class="table form-group">
          <thead>
            <tr>
              <th>Phone Numbers</th>
              <th>Primary</th>
              <th>Verified</th>
              <th></th>
            </tr>
          </thead>
          <tbody formArrayName="phones">
          <tr *ngFor="let phone of phonesFormArrayControls; let i = index"
              formGroupName="{{i}}">
            <td>
              <app-phone-number formControlName="phoneNumber" [class.is-invalid]="phone.errors"></app-phone-number>
              <small *ngIf="phone.errors" class="text-danger">{{phone.errors}}</small>
            </td>
            <td>
              <div class="form-check mt-1">
                <input type="radio" [value]="checked" name="primaryPhone"
                       checked="phone.value.primaryPhone === true" (click)="primaryRadioButton(phone)">
              </div>
            </td>
            <td >
              <div class="form-check" *ngIf="phone.value.verified && phone.value.verified === true">
                <input type="checkbox" class="form-check-input" id="verified${i}"
                       formControlName="verified" disabled="primaryPhoneCheckboxDisabled">
              </div>
              <button *ngIf="phone.value.verified !== true" type="button" class="btn btn-sm btn-link pt-0 mt-0 border-0"
                       (click)="verifyPhone(phone)" >Verify</button>
            </td>
            <td>
              <button type="button" class="btn btn-link btn-sm pt-0 mt-0 border-0" (click)='deletePhone(i)'>
                Delete</button>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="text-align:center;">
              <a class="btn btn-sm btn-primary pt-0 border-0" (click)="addNewPhone()">+ Add New Phone</a>
            </td>
          </tr>
          </tbody>
        </table>
    </form>
    <hr/>
    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-link" (click)="cancel()">Cancel</button>
  </div>
</div>
