<table class="table m-2">
  <thead>
  <th class="text-center display-4" colspan="5">
    Webapp Users
  </th>
  <tr class="">
    <th>First name</th>
    <th>Last name</th>
    <th>Username</th>
    <th colspan="2">
      <a class="btn btn-primary p-1 m-0 border-0" (click)="newUser(null)">New User</a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.username}}</td>
    <td>
      <a class="btn btn-link" (click)="edit(user)">Edit</a>
    </td>
    <td>
      <button class="btn btn-link"  (click)='delete(user)'>Delete</button>
    </td>
  </tr>
  </tbody>
</table>

